<!-- BEGIN RECENT WORKS -->

<div style="margin-top:50px; padding:0px 5%;background-color: #272729;text-align: left; ">
    <div style="padding:25px 0px">
        <button type="button " class="btn btn-info btn-lg">开&nbsp;始</button>
        <button type="button" class="btn btn-warning btn-lg">暂&nbsp;停</button>
        <button type="button" class="btn btn-info btn-lg">结&nbsp;束&nbsp;比&nbsp;赛</button>

    </div>
</div>
<div class="match-user-list">


    <div class="row match-user-row">
        <div class="col-md-3 col-sm-3 match-user-item">
            <div>
                <img src="/images/img1.jpg" alt="ddmazing Project" class="img-responsive">

            </div>
            <div class="match-user-desc">
                <dl class="dl-horizontal">
                    <dt>名&nbsp;字：</dt>
                    <dd>牛头山</dd>

                    <dt>投&nbsp;篮：</dt>
                    <dd>10/12</dd>

                    <dt>篮&nbsp;板：</dt>
                    <dd>13</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 match-user-item">
            <div>
                <img src="/images/img2.jpg" alt="ddmazing Project" class="img-responsive">

            </div>
            <div class="match-user-desc">
                <dl class="dl-horizontal">
                    <dt>名&nbsp;字：</dt>
                    <dd>牛头山</dd>

                    <dt>投&nbsp;篮：</dt>
                    <dd>10/12</dd>

                    <dt>篮&nbsp;板：</dt>
                    <dd>13</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 match-user-item">
            <div>
                <img src="/images/img3.jpg" alt="ddmazing Project" class="img-responsive">

            </div>
            <div class="match-user-desc">
                <dl class="dl-horizontal">
                    <dt>名&nbsp;字：</dt>
                    <dd>牛头山</dd>

                    <dt>投&nbsp;篮：</dt>
                    <dd>10/12</dd>

                    <dt>篮&nbsp;板：</dt>
                    <dd>13</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 match-user-item">
            <div>
                <img src="/images/img4.jpg" alt="ddmazing Project" class="img-responsive">

            </div>
            <div class="match-user-desc">
                <dl class="dl-horizontal">
                    <dt>名&nbsp;字：</dt>
                    <dd>牛头山</dd>

                    <dt>投&nbsp;篮：</dt>
                    <dd>10/12</dd>

                    <dt>篮&nbsp;板：</dt>
                    <dd>13</dd>
                </dl>
            </div>
        </div>

    </div>
    <div class="row match-user-row">
        <div class="col-md-3 col-sm-3 match-user-item">
            <div>
                <img src="/images/img1.jpg" alt="ddmazing Project" class="img-responsive">

            </div>
            <div class="match-user-desc">
                <dl class="dl-horizontal">
                    <dt>名&nbsp;字：</dt>
                    <dd>牛头山</dd>

                    <dt>投&nbsp;篮：</dt>
                    <dd>10/12</dd>

                    <dt>篮&nbsp;板：</dt>
                    <dd>13</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 match-user-item">
            <div>
                <img src="/images/img2.jpg" alt="ddmazing Project" class="img-responsive">

            </div>
            <div class="match-user-desc">
                <dl class="dl-horizontal">
                    <dt>名&nbsp;字：</dt>
                    <dd>牛头山</dd>

                    <dt>投&nbsp;篮：</dt>
                    <dd>10/12</dd>

                    <dt>篮&nbsp;板：</dt>
                    <dd>13</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 match-user-item">
            <div>
                <img src="/images/img3.jpg" alt="ddmazing Project" class="img-responsive">

            </div>
            <div class="match-user-desc">
                <dl class="dl-horizontal">
                    <dt>名&nbsp;字：</dt>
                    <dd>牛头山</dd>

                    <dt>投&nbsp;篮：</dt>
                    <dd>10/12</dd>

                    <dt>篮&nbsp;板：</dt>
                    <dd>13</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 match-user-item">
            <div>
                <img src="/images/img4.jpg" alt="ddmazing Project" class="img-responsive">

            </div>
            <div class="match-user-desc">
                <dl class="dl-horizontal">
                    <dt>名&nbsp;字：</dt>
                    <dd>牛头山</dd>

                    <dt>投&nbsp;篮：</dt>
                    <dd>10/12</dd>

                    <dt>篮&nbsp;板：</dt>
                    <dd>13</dd>
                </dl>
            </div>
        </div>
    </div>

</div>

